body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color:black;
}

.container {
  width: 90vw;
  max-width: 600px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom:20px;
  max-height:500px;
  overflow:auto;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"], textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

button {
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #218838;
}

button:disabled {
  background-color: #9aa79d;
  cursor: not-allowed;
}

.recipe {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.recipe h3 {
  margin: 0;
  font-size: 20px;
}

.recipe p {
  margin: 5px 0 0;
  color: #555;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  background-color: #333;
  padding: 0px 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 16px;
}

.navbar a:hover {
  background-color: #555;
  border-radius: 4px;
}

.favorite-button {
  background-color: #ff6f61; 
  color: #fff;
}

.favorite-button.favorited {
  background-color: #ff5722; 
}

.favorite-button:hover {
  background-color: #e64a19; 
}

.favorite-button.favorited:hover {
  background-color: #d84315; 
}
